{{!< default}}

{{> "header"}}

{{#post}}
  <main class="main-content">
    <article class="post-full {{post_class}}">

      <header class="post-header">
        <h1 class="post-title">{{title}}</h1>

        <section class="post-meta">
          <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time>
        </section>
      </header>

      <section class="post-contentb">
        {{content}}
      </section>
    </article>
  </main>
{{/post}}

{{> "footer" }}
